numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1
xgboost==2.1.4
lightgbm==4.6.0
catboost==1.2.8
imbalanced-learn==0.13.0
optuna==4.3.0
matplotlib==3.10.1
seaborn==0.13.2
joblib==1.4.2
jupyter==1.1.1
python-dotenv==1.1.0
category_encoders
